[Unit]
Description=Overnight CPU and VRM Stability Test
After=multi-user.target

[Service]
Type=oneshot
#ExecStart=/usr/local/sbin/overnight_test.sh
ExecStart=/usr/local/sbin/stability_test.sh

[Install]
WantedBy=multi-user.target
